{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-lg-center">
        <div class="col-lg-auto">
            <h1>i know all about u!</h1>
            <p>ur name: </p>
            <p>your phone: </p>
            <p>u work in: </p>
            <p>u`ve been invited by: </p>
            <div class="form-flex">
                <form action="">
                    <button type="submit" class="btn btn-danger" name="submit">Log out</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}