.auth {
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -235px 0 0 -150px;
    border-radius: 5%;
    border: 1px solid #dddddd;
    padding: 10px;
}

.form-flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}
.buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.buttons > button {
    margin-right: 15px;
}
form > div {
    margin-top: 8px;
}
#registration_form_agreeTerms {
    position: relative !important;
    margin: 0 0 0 5px !important;
}